# Global owners
*       @SorobanForge

# Specific configurations
/.github/workflows/   @SorobanForge
/apps/                @SorobanForge
/packages/            @SorobanForge
/contracts/           @SorobanForge
/docs/                @SorobanForge
